<!DOCTYPE html>
<html>
<head>
	<title>WIN a Thomas Cook Mexico holiday for two and a £250 shopping spree at Outfit</title>
</head>
<body style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;">

	<div style="width:100%;max-width:600px;display:block;margin:24px auto;">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="display:table;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:1.5;">
			<thead>
				<th><img src="{{banner_image}}" alt="{{app_title}}"></th>
			</thead>
			<tfoot>
				<tr>
					<td style="display:block;margin-top:18px;">
						<hr style="border:1px solid #ddd;">
					</td>
				</tr>
				<tr>
					<td>
						<small>
							<a href="{{terms_link}}" target="_blank">Terms &amp; Conditions</a>
							| <a href="{{privacy_link}}" target="_blank">Privacy Policy</a>
						</small>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<tr style="margin-bottom:10px;display:block;">
					<td>
						Hi,
					</td>
				</tr>
				<tr style="margin-bottom:10px;display:block;">
					<td>Your friend <strong>{{friend_name}}</strong> has just invited you to enter the <strong>#ExoticHolidays</strong> competition.</td>
				</tr>
				<tr style="margin-bottom:10px;display:block;">
					<td>Don't miss your chance to win an amazing holiday to Mexico for two with Thomas Cook and a £250 shopping spree with Outfit.</td>
				</tr>
				<tr style="margin-bottom:10px;display:block;">
					<td style="display:block;text-align:center;">
						<a style="display:inline-block;border:1px solid #FFECBF;background:#FBAC05;padding:10px 24px;font-weight:bold;text-align:center;text-decoration:none;color:white;font-size:16px;border-radius:3px;" href="{{app_link}}" target="_blank">Enter now &raquo;</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>